html, body {
    font-size: 10px;
    height: 100%;
}

body {
    background-color: var(--color-pomb-and-power);
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}