.board-game {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    perspective: 400px;
    max-width: 900px;
    margin: 0 auto;
}

/* Quando estiver verificando cartas, desabilita eventos nos cards não ativos */
.board-game.-checking .card-front-back:not(.-active):not(.-matched) {
    pointer-events: none;
}