.board-game {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    perspective: 400px;
    max-width: 425px;
    margin: 0 auto;
}

/* Quando estiver verificando cartas, desabilita eventos nos cards não ativos */
.board-game.-checking .card-front-back:not(.-active):not(.-matched) {
    pointer-events: none;
}