:root {
    --color-capa: #13121a;
    --color-pomb-and-power: #0f0f1b;
    --color-floral-white: #FFFCEE;
    --color-sandstorm: #F5D547;
    --color-old-silver: #828282;
    --color-fiery-rose: #f25a70;
    --color-mantis: #62c370;
    --color-hollow: #565a75;
}